.App {
  text-align: center;
 align-items: center;
 margin:auto;
 background-color: cadetblue;
padding-top: 20px;
padding-bottom: 20px;
}
.category{
  cursor: pointer;
  @media screen and (max-width:571px) {
margin-top:20px  }
  }
.ctegory-wrapper{  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-left:50px;
  padding-right:50px;


}
 @media screen and (max-width:571px) {
  .category{ margin-top:20px};
  .category-wrapper{
    display: block;
  }
   }
